*{
    margin: 0;
    padding: 0;
}
.admini{
    height: 40px;
    background-color: brown;

    }

 svg{
    
    padding: 0 20px;
    float: right;
    object-fit: cover;
    height: 35px;  
}

.sous_menu {
    margin-top: 40px;
    margin-left:1020px;
    display: none;
    position: absolute;
    background-color: #817c7c;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba (0,0,0,0.2);
    }
    

.sous_menu a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

.sous_menu a:hover {
    background-color: #8af11567;
    border: 2px solid rgba(0, 0, 0, 0.651);

   }
        
    
     .admini:hover .sous_menu {
     display: block;
     
     }
     
    
     